
/* variables -------------------------------------------------------------- */

:root {
	--x-input-padding          : .25em .5em; /* padding for inputs and grid cells */
	--x-input-padding-x        : .5em;  /* x-padding for inputs and grid cells */
	--x-input-focused-bg-color : #ffc;  /* bg color for focused inputs, dropdowns and pickers */
	--x-error-bg-color         : #a33;  /* bg color for invalid inputs and error bubbles */
	--x-focus-shadow           : 0 0 1px 1px #99f; /* to be used in place of focus outline */
}

/* defaults --------------------------------------------------------------- */

.x-widget, .x-widget * {
	box-sizing: border-box;
}

.x-widget {
	font-size: 13px;
	font-family: x-widget, sans-serif;
}

/* item states ------------------------------------------------------------ */

.x-widget .disabled { color: #999; }

//.x-grid-tr.new                          { background-color: #eef; }
//.x-grid-tr.new.focused                  { background-color: #dde; }
//.x-grid-td.modified                     { background-color: #ddffdd; }
//.x-grid-tr.focused .x-grid-td.modified  { background-color: #cceecc; }
//.x-grid-td.invalid                      { background-color: #ffcccc; }
//.x-grid-tr.focused .x-grid-td.invalid   { background-color: #eebbbb; }

                  .x-item.focused           { color: #fff; }
                  .x-item.disabled.focused  { color: #ccc; }
.x-item.focused > .x-item.disabled          { color: #ccc; }
.x-item.focused > .x-item.disabled.focused  { color: #fff; }

                  .x-item:hover             { background-color: #00000011; }
.x-item         > .x-item:hover             { background-color: #f8f8f8; }

                  .x-item.focused           { background-color: #333; }
                  .x-item.focused:hover     { background-color: #444; }
.x-item.focused > .x-item:hover             { background-color: #555; }
.x-item.focused > .x-item.focused           { background-color: #666; }
.x-item.focused > .x-item.focused:hover     { background-color: #777; }

.x-focusable:focus-within                   .x-item.focused       { background-color: #47a; }
.x-focusable:focus-within                   .x-item.focused:hover { background-color: #58b; }
.x-focusable:focus-within .x-item.focused > .x-item:hover         { background-color: #69c; }
.x-focusable:focus-within .x-item.focused > .x-item.focused       { background-color: #7ad; }
.x-focusable:focus-within .x-item.focused > .x-item.focused:hover { background-color: #8be; }

/* scrollbars ------------------------------------------------------------- */

.x-widget::-webkit-scrollbar-track,
.x-widget ::-webkit-scrollbar-track  { background-color: #eee; }
.x-widget::-webkit-scrollbar-thumb,
.x-widget ::-webkit-scrollbar-thumb  { background-color: #c0c0c0; border-color: #eee; }
.x-widget::-webkit-scrollbar-corner,
.x-widget ::-webkit-scrollbar-corner { background-color: #eee; }
.x-widget                            { scrollbar-color: #c0c0c0 #eee; }

/* button ----------------------------------------------------------------- */

.x-button {

	/* positioning for inline use */
	display: inline-flex;    /* more options than inline, but no collapsible margins! */
	align-items: baseline;   /* required */
	position: relative;      /* anchor stuff to the button */

	/* sizing for inline use */
	padding: var(--x-input-padding);
	margin: .25em;
	border: 1px solid rgba(27,31,35,.2);
	border-radius: .25em;
	font-size: 100%;
	font-weight: bold;

	/* behavior */
	cursor: pointer;
	user-select: none;
}

.x-button-icon {
	margin-right: .25em;
}

.x-button-text {
}

/* styling (from github) */

.x-button {
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.x-button:hover {
	border-color: rgba(27,31,35,.35);
	background-color: #e6ebf1;
	background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
	text-decoration: none;
}

.x-button:active {
	outline: none;
	border-color: rgba(27,31,35,.35);
	background-color: #e9ecef;
	background-image: none;
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

.x-button.primary {
	color: white;
	border: 1px solid rgba(27,31,35,.2);
	background-color: #28a745;
	background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
}

.x-button.primary:hover {
	border-color: rgba(27,31,35,.5);
	background-color: #269f42;
	background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
}

.x-button.primary:active {
	outline: none;
	border-color: rgba(27,31,35,.5);
	background-color: #279f43;
	background-image: none;
	box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

/* checkbox --------------------------------------------------------------- */

.x-checkbox {
	/* layouting */
	display: inline-flex;
	align-items: baseline;   /* that are baseline-aligned */
	flex-flow: row nowrap;

	/* sizing for inline use */
	margin: .25em;
	padding: .5em;

	cursor: default;
}

.x-checkbox:focus {
	outline: none;
	box-shadow: var(--x-focus-shadow);
}

.x-checkbox-mark {
	padding-right: .5em;
	font-size: 120%;
}

.x-checkbox.align-right .x-checkbox-mark {
	padding-right: 0;
	padding-left: .5em;
	order: 2;
}
.x-checkbox.align-right .x-checkbox-text {
	text-align: right;
}

/* input ------------------------------------------------------------------ */

.x-input {
	/* layouting */
	display: inline-flex;    /* the only way to get variable-width inputs */
	align-items: baseline;   /* that are baseline-aligned */
	position: relative;      /* anchor the error tooltip */

	/* sizing */
	width: 0;                /* don't set this, set min-width */
	min-width: 12em;

	/* sizing for inline use */
	margin: .25em;
	padding: 0;              /* required: set from code */
	border-width: 1px;
	border-radius: .2em;
	font-size: 100%;

	/* styling */
	border-color: #ccc;
	border-style: solid;
}

.x-input-input {
	/* defaults */
	margin: 0;
	border: 0;
	padding: var(--x-input-padding);
	font-size: inherit;
	font-family: inherit;
	height: 100%;            /* stretch vertically */
	flex: auto;              /* stretch horizontally */
	min-width: 0;            /* reset, let parent set this */
	width: 100vw;
	color: inherit;
	background: none;
	text-align: left;
}

.x-input.align-right .x-input-input {
	text-align: right;
}

.x-input-input:focus {
	outline: none;
}

.x-input-input.invalid {
	background-color: var(--x-error-bg-color);
	color: white;
}

/* input / error message tooltip ------------------------------------------ */

.x-input-error-ct {

	/* positioning */
	position: absolute;
	z-index: 1;
	bottom: 2.3em;                /* move above input */
	left: 50%;                    /* anchor to parent's center */
	transform: translateX(-50%);  /* center tooltip */

	/* sizing */
	width: 400px;                 /* max. width of the message bubble before wrapping */
	text-align: center;           /* center the message bubble inside this container of fixed width */
}

.x-input-error {

	/* layouting */
	display: inline-block;        /* shrink-wrap, and also word-wrap when reaching container width */

	/* sizing */
	padding: .5em 1em;

	/* styling */
	color: white;
	background-color: var(--x-error-bg-color);
	border-radius: 5px;
}

.x-input-error-tip {
	line-height: 7px;

	/* styling */
	color: var(--x-error-bg-color);
}

/* spin_input ------------------------------------------------------------- */

.x-spin-input-button {
	border-style: solid;
	border-color: #999;
	border-width: 0;
	padding-left : var(--x-input-padding-x);
	padding-right: var(--x-input-padding-x);
}

.x-spin-input-button.left  { border-right-width: 1px; }
.x-spin-input-button.right { border-left-width : 1px; }

.x-spin-input-button.fa-plus,
.x-spin-input-button.fa-minus {
	font-size: 70%;
	align-self: center;
}
.x-spin-input-button.fa-minus.leftmost { padding-left  : calc(1.428 * var(--x-input-padding-x)); }
.x-spin-input-button.fa-plus.rightmost { padding-right : calc(1.428 * var(--x-input-padding-x)); }

.x-spin-input-button.fa-caret-left  { padding-right : calc(.5 * var(--x-input-padding-x)); }
.x-spin-input-button.fa-caret-right { padding-left  : calc(.5 * var(--x-input-padding-x)); }

/* dropdown --------------------------------------------------------------- */

/* NOTE: .x-input is applied too on dropdowns so consider this a class extension! */

.x-dropdown {

	/* content layouting */
	align-items: baseline;
	line-height: initial;       /* prevent y-stretching to surrounding text's line height */

	/* styling */
	cursor: default;

	/* default mode: variable-width, no-wrap but with .x-input's min-width applied */
	width: auto;                /* shrink-wrap */
	white-space: nowrap;
}

.x-dropdown-value {

	/* self positioning & alignment */
	flex: 1;                 /* stretch horizontally */
	padding: var(--x-input-padding);
	padding-right : .25em;
	padding-left  : var(--x-input-padding-x);

	/* content layouting */
	display: flex;
	align-items: center;
}

.x-dropdown-button {
	align-self: center;
	padding-left : var(--x-input-padding-x);
	padding-right: var(--x-input-padding-x);

	border-left-style: inherit;
	border-left-color: inherit;
	border-left-width: 1px;
}

.x-dropdown.align-right .x-dropdown-value {
	order: 2;
	padding-left  : .25em;
	padding-right : var(--x-input-padding-x);

	justify-content: flex-end;
}

/* inline mode: variable-width, no-wrap with no min-width */
.x-dropdown.inline {
	min-width: 0;            /* reset from x-input's min-width */
}

/* wrap mode: fixed-width, auto-wrap */
.x-dropdown.wrap {
	width: 0;                /* fixed width, constrained by x-input's min-width */
}
.x-dropdown.wrap .x-dropdown-value {
	white-space: normal;
}

/* fixed mode: fixed-width, no-wrap, hide-overflow */
.x-dropdown.fixed {
	width: 0;                /* fixed width, constrained by x-input's min-width */
}
.x-dropdown.fixed .x-dropdown-value {
	white-space: nowrap;
	overflow: hidden;
}

/* override with more specificity: .x-widget.x-<foo>.picker */
.x-widget.picker {
	position: absolute;
	border: 1px solid #999;
	background-color: var(--x-input-focused-bg-color);
	box-shadow: 5px 5px 5px #000000aa;
	z-index: 1;
}

/* input & dropdown common styles ----------------------------------------- */

.x-input:focus-within,
.x-dropdown.open
{
	outline: none;
	background-color: var(--x-input-focused-bg-color);
	box-shadow: var(--x-focus-shadow);
}

/* listbox ---------------------------------------------------------------- */

.x-listbox {

	/* layout */
	display: inline-flex;        /* the only way for it to shrink-wrap */
	flex-flow: column nowrap;

}

.x-listbox-item {

	/* sizing */
	padding: .25em .25em;

	/* behavior */
	cursor: default;

}

.x-listbox:focus {
	outline: none;
}

.x-widget.x-listbox.picker {
	max-height: 300px;
	overflow: auto;
}

/* calendar --------------------------------------------------------------- */

.x-calendar {
	display: inline-block;
	padding: 2em;
}

.x-calendar-weekday {
	color: #999;
	font-weight: normal;
}

.x-calendar:focus {
	outline: none;
}

.x-calendar:focus .x-calendar-day.focused {
	box-shadow: var(--x-focus-shadow);
}

.x-calendar-day,
.x-calendar-weekday {
	text-align: right;
}
.x-calendar-day {
	padding: .4em;
	padding-left : .6em;
	padding-right: .6em;
}
.x-calendar-weekday {
	padding: .4em 0;
}

.x-calendar-day                     { cursor: default; }
.x-calendar-day:not(.current-month) { color: #999; }
.x-calendar-day.today               { background-color: #f33; color: white; }
.x-calendar-day.today:hover         { background-color: #f66; }

.x-calendar-header {
	display: flex;
	align-items: center;     /* vertical align */
}

.x-calendar-sel-day {
	font-size: 300%;
}

.x-calendar-sel-day-suffix {
	flex: 1;                 /* stretch to fill width */
	font-size: 150%;
	padding-left: .1em;
	padding-top: .25em;
	align-self: flex-start;
}

.x-calendar-sel-month.x-input,
.x-calendar-sel-year.x-input {
	border: 0;
}

.x-calendar-sel-month.x-input {
	min-width: 4.5em;        /* limit shrinking */
	margin: .25em;           /* separate from day suffix */
}

.x-input.x-calendar-sel-month .x-listbox {
	width: 100%;
}

.x-input.x-calendar-sel-year {
	min-width: 6.5em;
}

/* calendar as picker ----------------------------------------------------- */

.x-widget.x-calendar.picker {
	padding: 1.5em;
}
.x-widget.x-calendar.picker .x-calendar-sel-day {
	font-size: 200%;
}
.x-widget.x-calendar.picker .x-calendar-day {
	padding-top: 0em;
	padding-bottom: 0em;
	padding-left : .5em;
	padding-right: .5em;
}

/* menu ------------------------------------------------------------------- */

.x-menu-table {

	/* layouting */
	display: inline-block;     /* required: don't expand to fit parent width */
	position: absolute;        /* required: submenus are positioned manually */
	overflow: visible;         /* required: submenus are outside clipping area */
	border-collapse: collapse; /* required: separators are done with borders */
	background: white;         /* required: submenus overlap their parent */

	/* styling */
	color: #000;
	width: 200px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px #666;
}

.x-menu-table:focus {
	outline: none;
}

.x-menu-tr {
	position: relative;        /* required: submenus are anchored to item trs */
}

tr.x-menu-tr > td {
	padding: .4em;
	padding-left : .5em;
	padding-right: .5em;
}

tr.x-menu-separator-tr > td {
	height: 1em;
}

tr.x-menu-separator-tr > td > hr {
	border: 0;
	border-top: 1px solid #ccc;
}

td.x-menu-title-td {
	padding: 0;
	width: 100%;
	padding-left: 0;
}

.x-menu-tr.focused > td {
	cursor: default;
}

/* pagelist --------------------------------------------------------------- */

.x-pagelist {

	/* layouting */
	display: flex;
	position: relative;

	/* sizing for layout use */
	margin: 0;
	padding: 0;

	/* styling */
	border-bottom: 1px solid #ccc;

}

.x-pagelist-item {

	/* sizing */
	padding: .25em 1em;

	/* styling */
	color: #666;
	cursor: default;
}

.x-pagelist-item:hover {
	background-color: #eee;
}

.x-pagelist-item.selected {
	color: black;
}

.x-pagelist-item.selected:focus {
	outline: none;
}

.x-pagelist-selection-bar {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #66f;
	transition: width .1s;
	transition: left .1s;
}

/* split ------------------------------------------------------------------ */

.x-split {

	/* layouting */
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: stretch;

	height: 100%;  /* width: 100% is covered by flex-grow: 1 */
}
.x-split.horizontal { flex-direction: row; }
.x-split.vertical   { flex-direction: column; }

.x-split.resize {
	cursor: ns-resize;
}
.x-split.horizontal.resize {
	cursor: ew-resize;
}

.x-split-pane {
	overflow: auto;
}

.x-split-pane-auto {
	flex-grow: 1;  /* expand-to-fit container */
}

.x-split.horizontal > .x-split-pane.collapsed {
	min-width: 0 !important;
	width: 0 !important;
}
.x-split.vertical > .x-split-pane.collapsed {
	min-height: 0 !important;
	height: 0 !important;
}

/* sizer */

.x-split-sizer {

	/* layouting */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-width : 6px;
	min-height: 6px;

	/* styling */
	background-color: #eee;

}
.x-split.horizontal > .x-split-sizer {
	flex-direction: row;
}

.x-split.resize > .x-split-sizer {
	background-color: #ddd;
	transition: background-color 200ms;
}

/* grip */

.x-split-sizer::before {
	content: '';
	box-sizing: border-box;
	border: 1.25px #999;
}

.x-split.horizontal > .x-split-sizer::before {
	width: 4px;
	height: 24px;
	border-style: none solid;
}
.x-split.vertical > .x-split-sizer::before {
	width: 24px;
	height: 4px;
	border-style: solid none;
}

/* grid ------------------------------------------------------------------- */

.x-grid {
	display: inline-block;     /* required: don't expand to fit parent width */
	overflow: hidden;          /* required: hide header overflow */
	cursor: default;           /* required: don't show caret over text */
	border: 0px solid #ccc;
}

.x-grid-header-table, .x-grid-rows-table {
	position: relative;        /* required: make movable */
	width: 0;                  /* required: expand up-to the sum of cell widths */
	table-layout: fixed;       /* required */
	border-collapse: collapse; /* required */
}

/* header */

.x-grid-header-th-table {
	width: 100%;               /* required: expand to fit column width */
	table-layout: fixed;       /* required: don't expand based on content */
}

.x-grid-header-title-td {
	padding: 0;
	overflow: hidden;          /* required: hide title under the sort icon */
}

.x-grid-header-sort-icon-td {
	padding: 0;
	width: 1em;                /* required: leave the rest of the space to the title */
}

.x-grid-header-sort-icon-pri {
	font-family: inherit;
	font-size: 85%;
}

.x-grid-header-th {           /* default: header column style */
	height: 2.5em;
	vertical-align: bottom;
	padding-bottom: .3em;
	border-bottom: 1px solid #999;
}

/* rows */

.x-grid-rows-view-div {
	overflow: auto;            /* required: show scrollbars as needed */
	position: relative;        /* required: anchor rows-div */
}

.x-grid-rows-div {
	position: absolute;        /* required: keep at y=0 while scrolling */
	overflow: hidden;          /* required: hide surplus bottom rows */
}

/* grid col resizing -------------------------------------------------------*/

/* NOTE: `col-resize` is almost invisible on a light background on Windows 7 */
.x-grid.col-resize {
	cursor: ew-resize;
}
.x-grid:not(.col-resize) .x-grid-header-th {
	cursor: pointer;           /* required: resizing area is underneath */
}

/* cells */

.x-grid-header-th, .x-grid-td {
	overflow: hidden;          /* required */
	white-space: nowrap;       /* required: height must be kept constant */

	/* sizing & styling */
	padding: var(--x-input-padding);
	border-right: 0px solid #ccc;
}

.x-grid-td {
	border-bottom: 0px solid #eee;  /* border width set from code */
}

/* grid cell & row states ------------------------------------------------- */

.x-grid:focus {
	outline: none;
}

/* grid editing ----------------------------------------------------------- */

.x-grid-error {
	position: absolute;
}

.x-widget.grid-editor {

	position: absolute;
	min-width: 0;
	border: 0;
	margin: 0;
	border-radius: 0;

	font-size: inherit;
	font-family: inherit;
	cursor: initial;
	color: inherit;

}

.x-widget.grid-editor,
.x-widget.grid-editor.open,            /* more specificity over x-dropdown */
.x-widget.grid-editor:focus-within     /* more specificity over x-input */
{
	box-shadow: inset 2px 2px 6px -2px rgba(0,0,0,0.75);
}

/* grid scrollbars -------------------------------------------------------- */

.x-grid-rows-view-div::-webkit-scrollbar {
	width  : 8px;
	height : 8px;
}

.x-grid-rows-view-div {
  scrollbar-width: thin;
}

/* grid as picker --------------------------------------------------------- */

.x-dropdown .x-widget.x-grid.picker {
	min-height: 100px;
	max-height: 300px;
	min-width: 100%;
}

/* ------------------------------------------------------------------------ */
/* dark theme                                                               */
/* ------------------------------------------------------------------------ */

.x-dark {
	color: white;
	background-color: #1f1f22;
}

/* focusable item shades -------------------------------------------------- */

.x-dark                   .x-item:hover         { background-color: #18181a; }
.x-dark .x-item         > .x-item:hover         { background-color: #1f1f22; }

.x-dark                   .x-item.focused       { background-color: #333; }
.x-dark                   .x-item.focused:hover { background-color: #444; }
.x-dark .x-item.focused > .x-item:hover         { background-color: #555; }
.x-dark .x-item.focused > .x-item.focused       { background-color: #666; }
.x-dark .x-item.focused > .x-item.focused:hover { background-color: #777; }

.x-dark .x-focusable:focus-within                   .x-item.focused       { background-color: #47a; }
.x-dark .x-focusable:focus-within                   .x-item.focused:hover { background-color: #58b; }
.x-dark .x-focusable:focus-within .x-item.focused > .x-item:hover         { background-color: #69c; }
.x-dark .x-focusable:focus-within .x-item.focused > .x-item.focused       { background-color: #7ad; }
.x-dark .x-focusable:focus-within .x-item.focused > .x-item.focused:hover { background-color: #8be; }

/* button ----------------------------------------------------------------- */

.x-dark .x-button:not(.primary) {
	color: white;
	border-color: #181818;
	background-color: #333;
	background-image: linear-gradient(-180deg,#555,#333 90%);
}

.x-dark .x-button:not(.primary):hover {
	background-color: #444;
	background-image: linear-gradient(-180deg,#666,#444 90%);
}

.x-dark .x-button.primary:hover {
	border: 1px solid #269f42;
}

/* inputs & dropdown ------------------------------------------------------ */

.x-dark .x-input {
	border-color: #444;
}

.x-dark .x-input:focus-within,
.x-dark .x-dropdown:focus-within,
.x-calendar-weekview:focus .x-calendar-day.selected {
	box-shadow: 0 0 1px 1px #336;
}

.x-dark .x-input:focus-within,
.x-dark .x-input-input:focus,
.x-dark .x-dropdown.open {
	background-color: #080808;
}

.x-dark .x-dropdown.open .x-calendar {
	background-color: #2a303e;
}

.x-dark .x-input-input.invalid {
	background-color: var(--x-error-bg-color);
}

/* pickers of dropdowns --------------------------------------------------- */

.x-dark .x-dropdown .x-widget.picker {
	border: 1px solid #222;
	box-shadow: 5px 5px 5px #000;
}

/* page list -------------------------------------------------------------- */

.x-dark .x-pagelist               { border-bottom-color: #5a606e; }
.x-dark .x-pagelist-item          { color: #aaa; }
.x-dark .x-pagelist-item:hover    { background-color: #0004; }
.x-dark .x-pagelist-item.selected { color: white; }
.x-dark .x-pagelist-selection-bar { background-color: #fff; }

/* grid ------------------------------------------------------------------- */

.x-dark .x-grid-header-th { border-bottom-color: #666; }
.x-dark .x-grid-td        { border-bottom-color: #333; }

//.x-dark .x-grid-tr:hover                        { background-color: #0004; }

/* TODO:
.x-dark .x-grid-tr.new                          { background-color: #eef; }
.x-dark .x-grid-tr.new.focused                  { background-color: #dde; }
.x-dark .x-grid-td.modified                     { background-color: #ddffdd; }
.x-dark .x-grid-tr.focused .x-grid-td.modified  { background-color: #cceecc; }
.x-dark .x-grid-td.invalid                      { background-color: #ffcccc; }
.x-dark .x-grid-tr.focused .x-grid-td.invalid   { background-color: #eebbbb; }
*/

.x-dark .x-grid.col-resize {
	cursor: col-resize;
}

/* scrollbars ------------------------------------------------------------- */

.x-dark .x-widget ::-webkit-scrollbar-track  { background-color: #222; }
.x-dark .x-widget ::-webkit-scrollbar-thumb  { background-color: #444; border-color: #222; }
.x-dark .x-widget ::-webkit-scrollbar-corner { background-color: #00000000; }
