
.x-calendar, .x-calendar * {
	box-sizing: border-box;    /* required: borders don't affect width */
}

.x-calendar {
	display: inline-block;
	padding: 1.5em;
}

.x-calendar.popup {
	color: white;
	background-color: #2a303e;
	box-shadow: 5px 5px 5px #999;
	z-index: 1;
}

.x-calendar.popup input {
	background-color: inherit;
	color: inherit;
}

.x-calendar-weekday {
	color: #999;
	font-weight: normal;
}

.x-calendar-day,
.x-calendar-weekday {
	padding: .2em;
}

.x-calendar-weekview:focus {
	outline: none;
}

.x-calendar-weekview:focus .x-calendar-day.selected {
	box-shadow: 0 0 1px 1px #99f;
}

.x-calendar-day,
.x-calendar-weekday {
	text-align: right;
	padding-left: .6em;
	padding-right: .6em;
}

.x-calendar-weekday {
	padding-left: 0;
}

.x-calendar-day                     { cursor: default; }
.x-calendar-day:not(.current-month) { color: #999; }
.x-calendar-day:hover               { background-color: #ddd; }
.x-calendar-day.today               { background-color: #f33; color: white; }
.x-calendar-day.today:hover         { background-color: #f66; }
.x-calendar-day.selected            { background-color: #246; color: white; }
.x-calendar-day.selected:hover      { background-color: #47a; color: white; }

.x-calendar.popup .x-calendar-day.today         { background-color: #3e4452; }
.x-calendar.popup .x-calendar-day.today:hover   { background-color: #3e4452; }
.x-calendar.popup .x-calendar-day:hover         { background-color: #3e4452; }
.x-calendar.popup .x-calendar-day.selected      { background-color: #f00; }
.x-calendar.popup .x-calendar-day.selected:hover{ background-color: #f33; }

.x-calendar-header {
	display: flex;
	#justify-content: space-between;
	align-items: center;
}

.x-calendar-sel-day {
	font-size: 300%;
}

.x-calendar-sel-day-suffix {
	font-size: 150%;
	padding-left: .1em;
	padding-top: .25em;
	align-self: flex-start;
}

.x-calendar-sel-month.x-input,
.x-calendar-sel-year.x-input {
	border: 0;
}

.x-input.x-calendar-sel-month {
	flex: 1;
	min-width: 80px;
}

.x-calendar-sel-month .x-input-input {
	text-align: center;
}

.x-input.x-calendar-sel-year {
	min-width: 80px;
}

