
/* note: x-input class applied before this. */
.x-dropdown {
	/* layouting */
	align-items: stretch;

	/* sizing for inline use */
	padding: .25em;
	line-height: normal;

	/* styling */
	cursor: default;
}

/* use the inline class for inline variable-width dropdowns. */
.x-dropdown-nowrap {
	width: auto;
	min-width: 0;
}
.x-dropdown-nowrap .x-dropdown-value {
	white-space: nowrap;
}

/* show as focused when the picker is focused */
.x-dropdown:focus-within {
	outline: none;
	box-shadow: 0 0 1px 1px #99f;
}

.x-dropdown.open {
	background-color: #ffc;  /* same as x-input */
}

.x-dropdown-value {
	flex: 1;                 /* stretch horizontally */
	height: 100%;
	padding-right: .25em;
}

.x-dropdown-button {
	align-self: center;
	padding-left : .35em;
	padding-right: .25em;
	border-left-style: inherit;
	border-left-color: inherit;
	border-left-width: 1px;
}

.x-dropdown-picker {
	box-sizing: border-box;
	position: absolute;
	border: 1px solid #999;
	background-color: white;
	box-shadow: 5px 5px 5px #999;
	z-index: 1;
}
