
.x-menu-table {

	/* layouting */
	display: inline-block;     /* required: don't expand to fit parent width */
	position: absolute;        /* required: submenus are positioned manually */
	overflow: visible;         /* required: submenus are outside clipping area */
	border-collapse: collapse; /* required: separators are done with borders */
	background: white;         /* required: submenus overlap their parent */

	/* styling */
	color: #2a303e;
	width: 200px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px #666;
}

.x-menu-tr {
	position: relative;        /* required: submenus are anchored to item trs */
}

tr.x-menu-tr > td {
	padding: .4em;
	padding-left: .5em;
	padding-right: .5em;
}

tr.x-menu-separator-tr > td {
	height: 1em;
}

tr.x-menu-separator-tr > td > hr {
	border: 0;
	border-top: 1px solid #ccc;
}

td.x-menu-title-td {
	width: 100%;
	padding-left: 0;
}

.x-menu-tr:hover > td {
	color: white;
	background-color: #2a303e;
	cursor: default;
}

.x-menu-tr:not(.enabled) > td {
	color: #999;
}

