
.x-grid {
	display: inline-block;     /* required: don't expand to fit parent width */
	overflow: hidden;          /* required: hide header overflow */
	cursor: default;           /* required: don't show caret over text */
}

.x-grid, .x-grid * {
	padding: 0;                /* required */
	margin : 0;                /* required */
}

.x-grid-header-table, .x-grid-rows-table {
	position: relative;        /* required: make movable */
	width: 0;                  /* required: expand up-to the sum of cell widths */
	table-layout: fixed;       /* required */
	border-collapse: collapse; /* required */
}

.x-grid-header-th-table {
	width: 100%;               /* required: expand to fit column width */
	table-layout: fixed;       /* required: don't expand based on content */
}
.x-grid-header-title-td {
	overflow: hidden;          /* required: hide title under the sort icon */
}
.x-grid-header-sort-icon-td {
	width: 10px;               /* required: leave the rest of the space to the title */
}

.x-grid-header-th {           /* default: header column style */
	height: 2.5em;
	vertical-align: bottom;
	padding-bottom: .3em;
	border-bottom: 1px solid #999;
}

.x-grid-rows-view-div {
	overflow: auto;            /* required: show scrollbars as needed */
}

.x-grid-rows-view-div {
	position: relative;        /* required: anchor rows-div */
}

.x-grid-rows-div {
	position: absolute;        /* required: keep at y=0 while scrolling */
	overflow: hidden;          /* required: hide surplus bottom rows */
}

/* col resizing ------------------------------------------------------------*/

/* NOTE: `col-resize` is almost invisible on a light background on Windows 7 */
.x-grid.col-resize {
	cursor: ew-resize;
}
.x-grid:not(.col-resize) .x-grid-header-th {
	cursor: pointer;           /* required: resizing area is underneath */
}

.x-grid-header-th, .x-grid-td {
	white-space: nowrap;       /* required: height must be kept constant */
	overflow: hidden;          /* required */
}

.x-grid-cell {
	padding-left: .5em;        /* default */
	padding-right: .5em;       /* default */
}

.x-grid-td {
	border-bottom: 0px solid #eee;
}

/* cell & row states ------------------------------------------------------ */

.x-grid:focus {
	outline: none;
}

/* editing ---------------------------------------------------------------- */

.x-grid-error {
	position: absolute;
}

.x-grid-input {
	position: absolute;
	border: 0;
	font-size: inherit;
	font-family: inherit;
	cursor: initial;
	color: inherit;
	background: #fff;
	outline: 0;
	box-shadow: inset 2px 2px 6px -2px rgba(0,0,0,0.75);
}

/* scrollbars ------------------------------------------------------------- */

.x-grid-rows-view-div::-webkit-scrollbar {
	width  : 8px;
	height : 8px;
}

.x-grid-rows-view-div {
  scrollbar-width: thin;
}

/* picker ----------------------------------------------------------------- */

.x-grid.picker {
	min-height: 100px;
	max-height: 300px;
	min-width: 100%;
}
