
.x-grid {
	display: inline-block;     /* required: don't expand to fit parent width */
	overflow: hidden;          /* required: hide header trail */
}

.x-grid:focus {
	outline: none;
}

.x-grid, .x-grid * {
	box-sizing: border-box;    /* required: borders don't affect width */
	padding: 0px;              /* required */
	margin: 0px;               /* required */
}

.x-grid-header-table, .x-grid-rows-table {
	position: relative;        /* required: make movable */
	width: 0;                  /* required: expand up-to the sum of cell widths */
	table-layout: fixed;       /* required */
	border-collapse: collapse; /* required */
}

.x-grid-header-th-table {
	width: 100%;               /* required: expand to fit column width */
	table-layout: fixed;       /* required: don't expand based on content */
}
.x-grid-header-title-td {
	overflow: hidden;          /* required: hide title under the sort icon */
}
.x-grid-header-sort-icon-td {
	width: 10px;               /* required: leave the rest of the space to the title */
}

.x-grid-rows-view-div {
	overflow: auto;            /* required: show scrollbars as needed */
}

.x-grid-rows-view-div {
	position: relative;        /* required: anchor rows-div */
}
.x-grid-rows-div {
	position: absolute;        /* required: keep at y=0 while scrolling */
	overflow: hidden;          /* required: hide surplus bottom rows */
}
.x-grid-header-th {             /* default: header column style */
	height: 2.5em;
	vertical-align: bottom;
	padding-bottom: .3em;
	border-bottom: 1px solid #999;
}

.x-grid {
	cursor: default;           /* required: don't show caret over text */
}
.x-grid.col-resize {
	cursor: ew-resize;         /* default: column resizing cursor */
}
.x-grid:not(.col-resize) .x-grid-header-th {
	cursor: pointer;           /* required: resizing area is underneath */
}

.x-grid-header-th, .x-grid-td {
	white-space: nowrap;       /* required: height must be kept constant */
	overflow: hidden;          /* required */
}

.x-grid-cell {
	padding-left: .5em;        /* default */
	padding-right: .5em;       /* default */
}

.x-grid-td {
	border-bottom: 0px solid #ccc;
	cursor: parent;           /* required: show cursor as set by parent */
}

.x-grid-sort-icon.fa-sort { color: #ccc; }

/* cell & row states ------------------------------------------------------ */

.x-grid-td.not-focusable              { color: #bbb; }
.x-grid-td.read-only                  { color: #999; }
.x-grid-tr:hover                      { background-color: #efefef; }
.x-grid-td.focused                    { background-color: #666; color: white; }
.x-grid-tr.focused                    { background-color: #333; color: white; }
.x-grid.focused .x-grid-tr.focused    { background-color: #246; color: white; }
.x-grid.focused .x-grid-td.focused    { background-color: #47a; }
.x-grid-tr.new                        { background-color: #eef; }
.x-grid-tr.new.focused                { background-color: #dde; }
.x-grid-td.modified                   { background-color: #ddffdd; }
.x-grid-tr.focused .x-grid-td.modified  { background-color: #cceecc; }
.x-grid-td.invalid                    { background-color: #ffcccc; }
.x-grid-tr.focused .x-grid-td.invalid   { background-color: #eebbbb; }

/* editing ---------------------------------------------------------------- */

.x-grid-error {
	position: absolute;
}

.x-grid-input {
	position: absolute;
	border: 0;
	font-size: inherit;
	font-family: inherit;
	cursor: initial;
	color: inherit;
	background: parent;
	outline: 0;
	box-shadow: inset 2px 2px 6px -2px rgba(0,0,0,0.75);
}

/* scrollbars ------------------------------------------------------------- */

.x-grid ::-webkit-scrollbar {
	width  : 8px;
	height : 8px;
}
