
.x-listbox, .x-listbox * {
	box-sizing: border-box;    /* required: borders don't affect width */
}

.x-listbox {

	/* layout */
	display: inline-flex;        /* the only way for it to shrink-wrap */
	flex-flow: column nowrap;

	/* styling */
	//border: 1px solid #999;
}

.x-listbox-item {

	/* sizing */
	padding: .25em .25em;

	/* styling */
	//border: 1px solid #999;

	/* behavior */
	cursor: default;

}

.x-listbox-item:hover {

	/* styling */
	background-color: #ddd;

}

.x-listbox-item.selected {
	background-color: #333;
	color: white;
}

.x-listbox:focus .x-listbox-item.selected {
	background-color: #47a;
}
