
/* petrol dark theme for x-widgets ---------------------------------------- */

.petrol {
	color: white;
	background-color: #1f1f22;
}

/* focusable item shades -------------------------------------------------- */

.petrol                   .x-item:hover                            { background-color: #18181a; }
.petrol .x-item         > .x-item:hover                            { background-color: #1f1f22; }

.petrol                   .x-item.focused                          { background-color: #333; }
.petrol                   .x-item.focused:hover                    { background-color: #444; }
.petrol .x-item.focused > .x-item:hover                            { background-color: #555; }
.petrol .x-item.focused > .x-item.focused                          { background-color: #666; }
.petrol .x-item.focused > .x-item.focused:hover                    { background-color: #777; }

.petrol .x-focusable:focus                   .x-item.focused       { background-color: #47a; }
.petrol .x-focusable:focus                   .x-item.focused:hover { background-color: #58b; }
.petrol .x-focusable:focus .x-item.focused > .x-item:hover         { background-color: #69c; }
.petrol .x-focusable:focus .x-item.focused > .x-item.focused       { background-color: #7ad; }
.petrol .x-focusable:focus .x-item.focused > .x-item.focused:hover { background-color: #8be; }

/* button ----------------------------------------------------------------- */

.petrol .x-button:not(.primary) {
	color: white;
	background-color: #000;
	background-image: none;
}

.petrol .x-button:not(.primary):hover {
	background-color: #111;
	background-image: none;
	border-color: #000;
}

/* inputs & dropdown ------------------------------------------------------ */

.petrol .x-input {
	border-color: #444;
}

.petrol .x-input:focus-within,
.petrol .x-dropdown:focus-within,
.x-calendar-weekview:focus .x-calendar-day.selected {
	box-shadow: 0 0 1px 1px #336;
}

.petrol .x-input:focus-within,
.petrol .x-input-input:focus,
.petrol .x-dropdown.open {
	background-color: #080808;
}

.petrol .x-dropdown.open .x-calendar {
	background-color: #2a303e;
}

.petrol .x-input-input.x-input-invalid {
	background-color: #a33;
}

/* pickers of dropdowns --------------------------------------------------- */

.petrol .x-dropdown .picker {
	border: 1px solid #222;
	box-shadow: 5px 5px 5px #000;
}

/* page list -------------------------------------------------------------- */

.petrol .x-pagelist               { border-bottom-color: #5a606e; }
.petrol .x-pagelist-item          { color: #aaa; }
.petrol .x-pagelist-item:hover    { background-color: #0004; }
.petrol .x-pagelist-item.selected { color: white; }
.petrol .x-pagelist-selection-bar { background-color: #fff; }

/* grid ------------------------------------------------------------------- */

.petrol .x-grid-header-th { border-bottom-color: #666; }
.petrol .x-grid-td        { border-bottom-color: #333; }

//.petrol .x-grid-tr:hover                        { background-color: #0004; }

/* TODO:
.petrol .x-grid-tr.new                          { background-color: #eef; }
.petrol .x-grid-tr.new.focused                  { background-color: #dde; }
.petrol .x-grid-td.modified                     { background-color: #ddffdd; }
.petrol .x-grid-tr.focused .x-grid-td.modified  { background-color: #cceecc; }
.petrol .x-grid-td.invalid                      { background-color: #ffcccc; }
.petrol .x-grid-tr.focused .x-grid-td.invalid   { background-color: #eebbbb; }
*/

.petrol .x-grid.col-resize {
	cursor: col-resize;
}

/* scrollbars ------------------------------------------------------------- */

.petrol .x-widget ::-webkit-scrollbar-track  { background-color: #222; }
.petrol .x-widget ::-webkit-scrollbar-thumb  { background-color: #444; border-color: #222; }
.petrol .x-widget ::-webkit-scrollbar-corner { background-color: #00000000; }

