
/* petrol dark theme ------------------------------------------------------ */

.petrol {
	color: white;
	background-color: #2a303e;
}

/* buttons */

.petrol .x-button {
	color: white;
	background-color: #000;
	background-image: none;
}

.petrol .x-button:hover {
	background-color: #111;
	background-image: none;
	border-color: #000;
}

/* inputs */

.petrol .x-input:focus-within,
.petrol .x-input-input:focus,
.petrol .x-dropdown.open {
	background-color: #000;
}

.petrol .x-input-input.x-input-invalid {
	background-color: #a33;
}

/* calendars */

.petrol .x-calendar-day.selected { background-color: #000; }
.petrol .x-calendar-day:hover    { background-color: #0004; }

/* pickers of dropdowns */

.petrol .x-dropdown .picker {
	border: 1px solid #333;
	box-shadow: 5px 5px 5px #000;
}

/* listboxes */

.petrol .x-listbox-item.selected {
	background-color: #000;
}

.petrol .x-listbox-item:hover {
	background-color: #0004;
}

/* page lists */

.petrol .x-pagelist {
	border-bottom-color: #5a606e;
}

.petrol .x-pagelist-item {
	color: #aaa;
}

.petrol .x-pagelist-item:hover {
	background-color: #0004;
}

.petrol .x-pagelist-item.selected {
	color: white;
}

.petrol .x-pagelist-selection-bar {
	background-color: #fff;
}
