
/* defaults --------------------------------------------------------------- */

.x-widget, .x-widget * {
	box-sizing: border-box;
}

.x-widget {
	font-size: 13px;
	font-family: widget, sans-serif;
}

/* scrollbars */

/*
.x-widget::-webkit-scrollbar,
.x-widget ::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
}

.x-widget::-webkit-scrollbar-thumb,
.x-widget ::-webkit-scrollbar-thumb
{
	border-radius: 100px;
}

.x-widget::-webkit-scrollbar-thumb:vertical,
.x-widget ::-webkit-scrollbar-thumb:vertical
{
	border-left   : 3px solid #eee;
	border-right  : 3px solid #eee;
}

.x-widget::-webkit-scrollbar-thumb:horizontal,
.x-widget ::-webkit-scrollbar-thumb:horizontal
{
	border-top    : 3px solid #eee;
	border-bottom : 3px solid #eee;
}
*/

.x-widget::-webkit-scrollbar-track,
.x-widget ::-webkit-scrollbar-track
	{ background-color: #eee; }
.x-widget::-webkit-scrollbar-thumb,
.x-widget ::-webkit-scrollbar-thumb
	{ background-color: #c0c0c0; border-color: #eee; }
.x-widget::-webkit-scrollbar-corner,
.x-widget ::-webkit-scrollbar-corner
	{ background-color: #fff; }
